<!-- Steven's Gmail signature, copied from his sent mail. The Gmail API does NOT add it on its own, so every
     auto-sent email must end with this block (inside the HTML body). No street address: it's private. -->
<div style="font-family:arial,sans-serif;font-size:14px;line-height:1.5;color:#000000">
<div>Thank you!</div>
<div>Steven Weitzman</div>
<div>(c) 856-630-4357</div>
<div>(p) 844-474-5591</div>
<div><a href="https://www.grillycheese.net/?utm_source=referral&amp;utm_medium=email&amp;utm_campaign=signature&amp;utm_content=email-link">https://www.grillycheese.net</a></div>
<div><br></div>
<div>Please go ahead and <a href="https://calendly.com/grillycheese/30min"><b>block off time on my calendar</b></a> at your convenience and I&#39;ll call you then!</div>
<div><br></div>
<div><a href="https://www.grillycheese.net/?utm_source=referral&amp;utm_medium=email&amp;utm_campaign=signature&amp;utm_content=logo"><img width="96" height="69" alt="Grilly Cheese" src="https://ci3.googleusercontent.com/mail-sig/AIorK4yA19QEuE-2sfTGnRhHiA2Hz_WcqXgTTcGm4wXW4tLGN20c_gFuuI0P5JgBTYuQmBP5nFLtbQY"></a></div>
</div>
